---
---

@import "{{ site.theme }}";

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: #ec2d01;
}

/* selected link */
a:active {
  color: black;
}

body {
  color: black;
  text-align: justify;
}

h1 {
  font-size: 20px;
  text-align: center;
}

h3 {
  font-size: 15px;
  margin-bottom: 2px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 5px;
}

hr {
  border: 0.5px solid red;
  background-color: red;
}
