---
---

@import "{{ site.theme }}";

/* unvisited link */
a:link {
  color: #ec2d01;
}

/* visited link */
a:visited {
  color: #ec2d01;
}

/* mouse over link */
a:hover {
  color: #475f94;
}

/* selected link */
a:active {
  color: #475f94;
}

body {
  color: black;
}

h1 {
  font-size: 20px;
  text-align: center;
}
